
API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=6336413598:AAEXfS-23ZN4keiHhnpM3xz-AUlU5PMKaI8
LOGGER_ID=-1002068489603
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=7393334069
STRING_SESSION=BAGi8fAAbfbO_YNf5S9wa_gWrD9_Ozg5WLWdiKlTGeKxRJN7PxRevlwkLMtIMBEt42GnDIy-bkM_B1X2XblOf8p-rxixzVHtakidCdq3-gYTMLfMk18s2BzvYATFdwW4ykOJnpk4h-Vflisy3TPUJiitZGi11pZUqUBcrI3xd6Jw16-oBqAISrBNc-DV4MfzgDdfx2nJ1wXbWVGcPH4rtsVHwZd-pkmvel6dMtBPrpROc98HBqnYPzrTWR7eR1EcuAGdnWTyZWECHvFBboC9gmZft-ixSbYZqOpAc_XVkpNp55PUsRSC9upq2f5ZcaU57fttmtqdaAM6G9UN7kUvrhqBCLzXVAAAAAG-omojAA
