
API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=8091099875:AAFfAumkQjfWChKa5fxgiEQfTf5MS3E1mZc
LOGGER_ID=-1002034941438
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=7543674320
STRING_SESSION=BAFPgW4Ap6_m7Srt3LmzL06C62CwQmPr6YWj5d-abtwl2rgn5ZKtP3c-Yd-8PZ-fIuJ5yFhW7_sjrpL6UboSb-S3zgQkjiFvvXCH3i87clOnKLxMHB-Qd8qCfsx33oa46tc3FbyZ7qdXIiO1EaNELwSut3aCXO2XZ_zJAUUGfvGDn5hIbpabD51VsInggds0abeZ2rhhTKykTdb9_tD6e7XoX8q7syOJHrgS8cRXBB3MGEy5gC6PHAlkjmXtoZnFxFumYDSwhidiOZ3SR6vdn_0ltmw7WiYENFqLe1yyahsGVTJVqH5_ucIMUKC5vtvIv8H4DCyqNzbsODmljrmrF5w7e3pHHAAAAAHcOg9bAA
