
API_ID=18232440
API_HASH=6e65ada395ebc5d243c6d2954992c932
BOT_TOKEN=6195502833:AAENpsiKEp0Pgm9yW7sE_F93UAYE7EfzElU
LOGGER_ID=-1002297967583
MONGO_DB_URI=mongodb+srv://meshoe3:meshoe3@cluster0.bvaskli.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=6130127477
STRING_SESSION=BAFPgW4AZ7A0vhr1mb-HYl3DfMFjTlbyC0sM1QCCbKlAy6wH-LLIBJzVH0lFKJOIKukF4lC6f2HWL4ttYmD9TYx_eWQhnW3NgnOLu1YoGgxJEeQSNe7idB8dnzoDUM0R1gnVIKev-cyrYcsTXBByMv9x3FdyWA3DKMtGt5rW6mgl7HayNRLp0LzrwcUSH8ON0KMw_N0edgRiunhg5u-nWVRM-0PVli_PRAI_JvSOIm8iSdAOQqG7so5kTvsCywpUkA1WIC7h7uOLsNvHasg-yj-WktMJnEuLy4ArxCiJX6t5lfSTIbQH_AWAiyIVsa7Z9BV0i3bHoOhFhjDRl94K8_24eTLPCQAAAAFftaYyAA
